[Desktop Entry]
Version=1.0
Type=Application
Name=Totem
GenericName=Video Player
Comment=Play movies and music
Exec=/usr/pkg/bin/totem %U
Icon=totem
Terminal=false
Categories=AudioVideo;Player;GTK;
MimeType=video/mp4;video/x-matroska;video/webm;video/x-msvideo;video/quicktime;video/mpeg;video/ogg;video/x-flv;video/x-ms-wmv;video/3gpp;audio/mpeg;audio/x-wav;audio/x-flac;audio/ogg;audio/mp4;audio/opus;
StartupNotify=true
